#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 250px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 60px;
    
}


.photograph-header__picture
{
    height: 210px;
    width: 210px;
    border-radius: 50%; 
    object-fit: cover;
   margin-top: 20px;
    
}
.photograph-header__name{
font-size: 55px;
color: #D3573C;


}
.photograph-header__location{
    font-size: 24px;
    color:  #901C1C;
    margin-top: -30px;
}
.photograph-header__tagline{
    font-size: 17px;
    color:#525252;
    margin-top: 20px;

}
.contact_button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
    font-Weight: 600;

    
}
.contact_button:hover
{
    background-color: #D3573C;
    color:#312E2E;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
     width: 30px;
     height: 30px;
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
#contact-message
{
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px; 
}
.photograph-media{
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 60px;
    
}
.photograph-media__div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.photograph-media__picture{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.photograph-media__title{
   font-weight: 400;
    font-Size: 24px;
   color: #901C1C;
   margin-top: 0px; 
   
  
}
.photograph-media__liks{
    font-Size: 22px;
    color: #901C1C;
    font-weight: 500;
    margin-top: 5px;   
}
.i{
  font-size: 20px;  
  height: 20px;
  width: 20px;
  margin-top: 5px;
}