.photograph-header {
    background-color: #FAFAFA;
    height: 250px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 60px;   
}
.photograph-header__picture
{
    height: 210px;
    width: 210px;
    border-radius: 50%; 
    object-fit: cover;
   margin-top: 20px;
    
}
.photograph-header__name{
font-size: 45px;
color: #D3573C;
}
.photograph-header__location{
    font-size: 24px;
    color:  #901C1C;
    margin-top: -30px;
}
.photograph-header__tagline{
    font-size: 17px;
    color:#525252;
    margin-top: 20px;
}
.contact_button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    font-Weight: 600;  
}
.contact_button:hover
{
    background-color: #D3573C;
    color:#312E2E;
}
#contact_modal {
    display: none;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}
#close-btn {
     width: 25px;
     height: 25px;
    cursor: pointer;
}
.modal-contact_title {
    font-size: 40px;
    font-weight: normal;    
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form label {
    color: #312E2E;
    font-size: 28px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 60px;
    border:none;
    border-radius: 5px; 
    font-size: 20px;  
}
#message
{
    width: 100%;
    height: 120px;
    border: none;
    border-radius: 5px; 
}
.error{
    font-size: 15px;
      color: red;
      font-weight: 600;  
  }
.photograph-media{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 60px;  
}
.photograph-media__div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.photograph-media__picture{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.photograph-media__video{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.photograph-media__title{
   font-weight: 400;
    font-Size: 22px;
   color: #901C1C;
   margin-top: 0px; 
   
  
}
.photograph-media__div__liks
{
    display: flex;
    flex-direction: row;
}
.photograph-media__liks{
    font-Size: 20px;
    color: #901C1C;
    font-weight: 500;
    margin-top: 5px;
    margin-right: 10px;
      
}

.fa-heart{
    position: relative;
    display: block;
    font-size: 20px;
    margin-top: 7px;
    color:#901C1C;
    margin-right: 50px;
}
.photograph-baniere{
    width: 450PX;
    height: 88PX;
    margin-left: 68%;
    margin-right: 0PX;
    position: sticky;
    background-color: #DB8876;
    bottom: 0;
    border-radius: 5px;  
}
.photograph-baniere__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total-likes{
    font-size: 20px;
    padding-left: 50px;
    margin-top: 35px;
    font-weight: 600;
}
.photograph-baniere__heart{
font-size: 22px;
padding-top: 30px;
margin-left: -100px;
color: black;
}
.photograph-baniere__price{
    font-size: 20px;
    padding-right: 50px;
}